body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(25, 25, 25, 1);
  color: rgba(244, 133, 61, 1);
}

body p:hover {
  color: rgb(245, 117, 32);
  cursor: pointer;
}

body h1:hover {
  color: rgb(245, 117, 32);
  cursor: pointer;
}

.search-container {
  width: 500px;
}

.navigation-block {
  width: 200px;
  padding: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.programs-icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+PHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBzdHJva2U9IndoaXRlIiBmaWxsPSJub25lIiB4PSI1IiB5PSI1Ii8+PHJlY3QgeD0iNSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBzdHJva2U9IndoaXRlIiBmaWxsPSJub25lIi8+PC9zdmc+');
}

.patches-icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+PHBhdGggZD0iTTE1IDEgbDcgNyA3IDctNyA3LTcgNy03LTctNyA3LTctN3pNNSA5bDcgNy03IDctNy03IDcgN3pNNSAxOWw3IDctNyA3LTctNyA3LTctN3oiIHN0cm9rZT0id2hpdGUiIGZpbGw9Im5vbmUiLz48L3N2Zz4=');
}

.os-icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+PHBhdGggZD0iTTE1IDI1YTkgOSAwIDAgMS03LjMyLTIuODNMMiAyMmE5IDkgMCAwIDEgMC0xMGw1LjY4LTguMTdBOS4wMSA5LjAxIDAgMCAxIDE1IDVsNy4zMiAyLjgzbDUuNjggOC4xN2E5IDkgMCAwIDEgMCAxMGwtNS42OCAzLjE3QTkgOSAwIDAgMSAxNSAyNXptMCA0YTEzIDEzIDAgMSAwIDAtMjZBMTMgMTMgMCAwIDAgMTUgMjl6IiBzdHJva2U9IndoaXRlIiBmaWxsPSJub25lIi8+PC9zdmc+');
}

.text {
  flex-grow: 1;
}

.count {
  background-color: #555;
  padding: 2px 6px;
  border-radius: 4px;
}

.search-bar {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #333;
  color: #ccc;
  font-size: 16px;
}

.search-bar::placeholder {
  color: #888;
}

.search-bar-2 {
  width: 40%;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #333;
  color: #ccc;
  font-size: 16px;
}

.search-bar-2::placeholder {
  color: #888;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 6px; 
  }


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}


::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.news-item {
  border-radius: 20px;
  padding: 50px;
  background-color: rgba(43, 43, 43, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px 10px;
}

.news-item:hover{
  background-color: rgb(77, 77, 77);
}

.news-image {
  width: 30%;
  height: auto;
  margin-bottom: 16px;
}

.title-version {
  margin-left: 10px;
}

.page-version {
  margin-left: 20px;
}

.news-title {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.news-tags {
  display: flex;
  gap: 8px;
}

.tag {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.9em;
}

@media (max-width: 1200px) {
  .news-container {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .news-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .news-container {
      grid-template-columns: 1fr;
  }
}

/* Header style*/

.top-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #8a8989;
}

.topic{
  display: flex;
  width: 500px;
  justify-content: space-evenly;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  width: 1000px;
}

.left-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.right-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog {
  background-color: #1f7bfc;
  padding: 10px;
  border-radius: 20px;
}

/* Main style */

.title {
  text-align: center;
  margin-top: 100px;
}

.page-main {
  text-align: center;
}

.research {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Footer style */

.footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #8a8989;
  margin-top: 200px;
}

.social {
  display: flex;
  justify-content: space-around;
  width: 300px;
}
